@model zasz.me.Models.Post
@{
    ViewBag.Title = "Create";
}

<span style="font-size: x-large; width: 300px; margin: 12px auto; color: #FF7700;
    display: block;">Delineate The Thoughts</span>
<div style="width: 80%; margin: 0 auto;">
    @Html.Partial("~/Views/Shared/_CKEditor.cshtml")
</div>
