@model zasz.me.Controllers.PostController.PostListModel

@{
    ViewBag.Title = "My Writings";
}

<div style="margin: 20px auto; font-size: 24px;">My Writings</div>

@foreach (var Post in Model.Posts)
{
    <div style="margin: 20px auto;">
        @Html.Partial("_PostShortView", Post)
    </div>
}