@model Dictionary<int, Dictionary<string, int>>          


@*      --= Rest Area =--      *@


<div class="Sidebar-Control">
<div class="Sidebar-Title">ARCHIVES</div>
<ul>
@foreach(var Year in Model)
{
    <li>
        <div style="font-weight:bold">@Year.Key</div>
        <ul>
        @foreach(var Month in Year.Value)
        {
            <li><a href="/Writings/Archive/@Year.Key/@Month.Key.Substring(0, Month.Key.IndexOf(' '))">@Month.Key (@Month.Value)</a></li>
        }
        </ul>
    </li>
}
</ul>
</div>