@using zasz.me.Shared.Models
@model Post
<div style="margin:20px">    
    <script type="text/javascript">

        @*disqus_shortname tells Disqus which website account (called a forum on Disqus) this system belongs to.*@
        var disqus_shortname = 'zasz';         
        
        @*disqus_identifier tells Disqus how to uniquely identify the current page.*@
        var disqus_identifier = '@Model.Slug';
        
        @*disqus_url tells Disqus the location of the page for permalinking purposes.*@
        var disqus_url = '@Model.Permalink';

        var disqus_developer = 1;

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
</div>