@{
    ViewBag.Title = "All";
}

<div class="GapTop">
</div>
<div class="Tile FloatLeft">
</div>
<div class="Tile FloatRight">
    <a href="@Url.Action("StackExchange")">
        <img alt="Stack Overflow" src="@Url.Content("~/Content/Images/Portfolio/SOSnip.png")"/>
    </a>
</div>
<div class="Slab FloatLeft">
</div>
<div class="Slab FloatLeft">
</div>
<div class="Slab FloatRight">
</div>
