@using SquishIt.Framework
@model int
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>StackTack - @Model</title>
    @Html.Raw(
        Bundle.Css()
        .Add("~/Content/Stacktack.css")
        .ForceRelease()
        .Render("~/Content/stacktack_#_generated.css")
        )

    @* Order is important, 1st jQuery then other related scripts*@
    @Html.Raw(
        Bundle.JavaScript()
        .AddMinified("~/Scripts/jquery-1.8.0.min.js")
        .Add("~/Scripts/stacktack.js")
        .ForceRelease()
        .Render("~/Scripts/stacktack_#_generated.js")
        )

    <script type="text/javascript">
        $(function () {
            $('#Tackz').stacktack({ width: '900px', stylesheet: '@Url.Content("~/Content/Stacktack.css")' });
            });
    </script>
</head>
<body id="Tackz">
    <div id='stacktack-@Model'></div>
</body>
</html>
