@{
    
}
<script type="text/javascript">
    $(function() {
        $('input#Search').watermark('Search');
        $('input#Search').keypress(function(e) {
            if (e.which == 13) {
                $('form#SearchForm').submit();
                return false;
            }
        });
        $("input#Search").autocomplete({
            source: "/Home/Autocomplete"
        });
    });
</script>
<form id="SearchForm" action="/Home/Search" method="POST">
    <input type="text" id="Search" name="Search" class="ProTextBox" />
</form>