@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@Html.Partial("~/Areas/Pro/Views/Shared/_StackOverflowFlair.cshtml")

<div style="font-size: 5px">if you can read this, you're too close to the monitor.</div>