*/obj/
*/bin/

*.suo
*.cache
*.user
*.iws
*.db

packages/
TestResults/
_ReSharper.zasz.me/

zasz.me/Uploads/
zasz.develop/SampleData/TagCloud/

zasz.vitalize/content/tomcat/logs
zasz.vitalize/content/tomcat/work
zasz.vitalize/content/solrhome/data

.metadata/
