*/obj/
*/bin/

*.suo
*.cache
*.user
*iws
*.db
*.sublime-workspace

packages/*
!packages/repositories.config
!packages/lib/

Out/
_ReSharper.zasz.me/

zasz.me/Uploads/

solr/logs/
solr/work/
solr/solr/data/
solr/solr/conf/dataimport.properties