*/obj/
*/bin/

*.suo
*.cache
*.user
*.db

packages/
TestResults/
zasz.me/App_Data/ColdStorage/
zasz.me/Uploads/
zasz.me/Facebook/
zasz.develop/SampleData/TagCloud/
_ReSharper.zasz.me/
Raven.ravendb
.metadata/
