
.Left 
{
    width: 75%;
    display: table-cell;
    padding: 10px;
}

.Min-Height
{
    min-height: 1000px;
}

.Right 
{
    width:25%;
    background-color: #FFEBE0;
    border-left: 2px solid #FFAE7F;
    display: table-cell;
    padding: 10px;
}

.Clear
{
    clear: both;
}

.Admin-Title
{
    font-size: x-large; 
    margin: 12px auto; 
    color: #FF7700;
    display: table;    
}

.Login-Box
{
    background-color: #FFEBE0;
    margin: 20px auto;
    width: 500px;
    padding: 20px auto;
    padding-bottom: 20px;
    text-align: center;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border: 2px solid #FFAE7F;
}

a
{
    color: #FF6060;
    text-decoration: none;   
}

a:HOVER
{
    color: #A83500;
    text-decoration: underline;
    cursor: pointer;
}

.Control-Panel
{
    margin: 20px auto;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

.Control-Panel li
{
    line-height: 30px;
    list-style-type: none;
}

.Pro-Button
{
    color: #FF6400;
    background: #FFFFFF;
    display: block;
    float: left;
    padding: 3px 5px 3px 5px;
    margin-right: 3px;
    background: url('Images/Paging.png') bottom left repeat-x;
    border: 1px solid #FF6400;
    text-decoration: none;
}

.Pro-Button:hover
{
    border-color: #FF9400;
    background: #FFBE94;
    color: #FF6400;
    cursor: pointer;
}