@bground: #E5E5E5;
@fground: #333333;
@formbg: #F0F0F0;

@black: #090909;
@silver: #A8A8A8;
@gray: #454545;
@sky: #1FA9F4;
@navy: #001C4E;
@maroon: #500000;

.radius(@rad)
{
	-moz-border-radius: @rad;
	-webkit-border-radius: @rad;
	border-radius: @rad;
}

@headerheight: 160px;
@rightwidth: 260px;
@placeholder: #B8B8B8;