@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@section Right{
    @Html.Partial("~/Pro/Views/Shared/_StackOverflowFlair.cshtml", (object)Model)
}

<div style="font-size: 5px">if you can read this, you're too close to the monitor.</div>