<?xml version="1.0"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="FullContext" connectionString="Server=.\SQLExpress;Database=ColdStorage;User Id=zasz.me;Password=zaszrespawned;Trusted_Connection=False;Persist Security Info=True"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProjectRootPath" value="F:\Work\Orcas\Confidence"/>
  </appSettings>
</configuration>