@model List<zasz.me.Services.Pair<string, bool>>

@{
    ViewBag.Title = "Sync";
}

<p class="Prominant">sync complete</p>
<div class="Section">
<ul id="Threads">
    @foreach (var messageOrError in Model)
    {
        if(messageOrError.Other)
        {
            <li>@messageOrError.One</li>
        }
        else
        {
            <li class="field-validation-error">@messageOrError.One</li>
        }
    }
</ul>    
</div>