@{
    ViewBag.Title = "Unlock";
    ViewBag.Submit = Request.RawUrl;
}

@using(Html.BeginForm("Unlock", "Unlocker"))
{
    <div class="Login-Box">
        <div class="Prominant">Unlock</div>

        @Html.Label("passphrase", "Passphrase : ")
        @Html.Password("passphrase")
        <br />
        <br />
    </div>
    <div style="margin: 10px auto; text-align: center; width: 100%;">
        <span><input type="submit" value="Unlock" class="Button" /></span>
    </div>
}