@{
    ViewBag.Title = "Unlock";
    ViewBag.Submit = Request.RawUrl;
}

<div class="Login-Box">
<div class="Admin-Title">Unlock</div>

<label for="PassPhrase">Passphrase : </label>
<input id="PassPhrase" name="PassPhrase" type="password" value="" />
<br />
<br />
</div>
<div style="margin: 10px auto; width: 60px; text-align:center;">
<span><input type="submit" value="Unlock" class="Pro-Button" /></span>
</div>


