@if (Request.IsAuthenticated)
{
    <a class="Orange-Button" href="/Shared/Unlocker/Lock">Sign Out</a>
}
else
{
    <a class="Orange-Button" href="/Shared/Unlocker/Unlock">Manage</a>
}                            