@{
    ViewBag.Title = "Post";
}

@section Head{
    <link href="@Url.Content("~/Integration/ckeditor/output_xhtml.css")" rel="stylesheet" type="text/css" />
}

<h2>Post</h2>

@Html.Raw(Model["theEditor"])

