@using zasz.me.Areas.Shared.Models
@model Post


@*      --= Pro Area =--      *@


<div class="Post">
<br />
<a class="Post-Title" href="/Blog/Post/@Model.Slug">@Model.Title</a>
<div class="Metadata">Posted by Chandru on @Model.Timestamp.ToString("f")</div>
<br />
<div class="Post-Content">@Html.Raw(Model.Content)</div>
@Html.Partial("~/Areas/Shared/Views/Post/_PostFooter.cshtml", Model)
</div>