@model zasz.me.ViewModels.ContactViewModel

@{
    ViewBag.Title = "Mail";
}

<div style="float: left; margin-top:20px;">
    <p style="font-size: 28px">mail sent</p>
    <p>I have your message in my mail account, will get back to you soon.</p>
</div> 
