@model dynamic
<div style="width: 100%; text-align: center">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=from%3A%40ZASZ9279%20AND%20%23web" data-widget-id="572271040370200576">Tweets about from:@@ZASZ9279 AND #web</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</div>