@model zasz.me.Services.Contracts.SearchResults

@{
    ViewBag.Title = "Search Results for" + Model.Query;
}

@Model.Spellchecking
@foreach (var result in Model.Results)
{
    <a href="@result.Post.Permalink(Url)">@result.Post.Title</a>
    <br />
    @Html.Raw(result.Snippet)<br />
    <br />
    <br />
}