@using zasz.me.Services.Contracts
@model SearchResults

@{
    ViewBag.Title = "Search Results for" + Model.Query;
}

@Model.Spellchecking
@foreach (var result in Model)
{
    <a href="@result.Link">@result.Title</a><br />
    @Html.Raw(result.Snippet)<br />
    <br />
    <br />
}


