@model zasz.me.Areas.Shared.Models.Post


@*      --= Rest Area =--      *@


<div class="Post">
<br />
<br />
<a class="Post-Title" href="/Writings/Post/@Model.Slug">@Model.Title</a>
<div class="Metadata">Posted by Chandru on @Model.Timestamp.ToString("f")</div>
<br />
<br />
<p>@Html.Raw(Model.Content)</p>

@Html.Partial("~/Shared/Views/Post/_PostFooter.cshtml", Model)
</div>