a
{
    color: #425955;
    text-decoration: none;
}

a:HOVER
{
    color: #1B1D26;
    text-decoration: underline;
    cursor: pointer;
}

.Pro
{
    font-family: 'Gentium Book Basic', serif;
    background-position: center top;
    background-color: #F1F2D8;
    display: inline-block;
    width: 100%;
    color: #1B1D26;
}

.Site-In-Center
{
    display: block;
    width: 960px;
    margin: 20px auto;
    min-height: 1500px;
}

.Clear
{
    clear: both;
}

.Header
{
    height: 160px;
    display: block;
    float: left;
}

.Header-Left
{
    width: 700px;
    display: block;
    float: left;
}

.Header-Links
{
    width: 92px;
    float: right;
    margin-top: 54px;
    width: 185px;
    display: block;
}

.Header-Links img
{
    margin: 7px;
    display: inline;
}

.Header-Links a
{
    display: inline-block;
    font-size: 0px;
    float: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Header-Links a:HOVER
{
    background-color: #BFBD9F;
    cursor: pointer;
}

.Main-Menu
{
    clear: both;
    background-color: #FFFFFF;
    width: 700px;
    margin-top: 10px;
}

.Main-Menu li
{
    text-align: center;
    font-size: 28px;
    display: inline-block;
    width: 116px;
    padding-left: 10px;
    padding-right: 10px;
}

.Header-Right
{
    width: 260px;
    display: block;
    float: left;
}

.Focus-Description
{
    color: #425955;
    font-size: 24px;
}

.Description
{
    text-align: center;
    font-size: 14px;
    margin: 14px;
}

.Status-History-Expand-Button
{
    background-image: url('Images/expand-down.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-repeat: no-repeat;
    height: 26px;
    margin-left: 170px;
    margin-top: -3px;
    position: absolute;
    width: 36px;
    z-index: 12;
    /* popup 102 > mask 101 > DisqusPostAstoolbar 100 > Status-History-Button 12 > Status-History-Expanded 11 > Disorganizer-Hover-Divs 10 */
}

.Status-History-Expand-Button:HOVER
{
    cursor: pointer;
    background-position: center bottom;
}

.Status-History
{
    margin-left: 10px;
    height: 54px;
    overflow: hidden;
}

.Status-History-Expanded
{
    margin-left: 28px;
    margin-top: -11px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #1B1D26;
    height: auto;
    overflow: auto;
    position: absolute;
    z-index: 11;
}

#Status-History li
{
    margin-bottom: 20px;
}

.Pro-Body
{
    clear: both;
    width: 100%;
    height: 100%;
}

.Pro-Body-Left
{
    float: left;
    width: 680px;
    padding: 10px;
    overflow: hidden;
}

.Pro-Body-Left-Min-Height
{
    min-height: 1225px;
}

.Pro-Body-Right
{
    float: left;
    width: 240px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}


.Sidebar-Control
{
    margin-top: 25px;
    margin-bottom: 10px;
}

.Sidebar-Title
{
    border-bottom: 2px dotted #1B1D26;
    display: block;
    margin-bottom: 20px;
}

#mask
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 101;
    background: #111;
    opacity: 0.8;
    filter: alpha(opacity=80);
    display: none;
}

.Pro-Popup
{
    background: #FFF;
    padding: 20px;
    position: absolute;
    z-index: 102;
    border: 5px solid #FFAE7F;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

select.ProTextBox:HOVER, select.ProTextBox:focus
{
    cursor: pointer;    
}

.ProTextBox
{
    border-width: 1px;
    border-style: inset;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 230px;
    padding: 6px 5px 6px 5px;
    background-color: #FFFFFF;
}

.ProTextBox:HOVER, .ProTextArea:HOVER, .ProTextBox:FOCUS, .ProTextArea:FOCUS
{
    cursor: text;
    border: 1px solid #1B1D26; 
    background-color: #FFFFFF;
}

.ProTextArea
{
    padding: 6px 5px 5px;
    margin: 20px auto;
    width: 460px;    
    border-width: 1px;
    border-style: inset;
    background-color: #FFFFFF;
}

.Pro-Button
{
    color: #F1F2D8;
    background: #425955;
    display: block;
    float: left;
    padding: 3px 5px;
    margin-right: 3px;
    border: 1px solid #1B1D26;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Pro-Button:hover
{
    background: #1B1D26;
    cursor: pointer;
}

.Expand-Panel
{
    width: 680px;
    padding: 10px 0px;
}

.Expand-Button:hover
{
    background: #1B1D26;
    cursor: pointer;
}

.Expand-Button
{
    text-align: center;
    padding: 3px;
    border: 1px solid #1B1D26;
    background-color: #425955;
    cursor: pointer;
    color: #F1F2D8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Panel
{
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #1B1D26;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#haackroutedebugger
{
    display: inline-block;
}