<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="zasz.me">
			<section name="Uploads" type="zasz.me.Configuration.UploadsConfig" />
			<section name="Writings" type="zasz.me.Configuration.WritingsConfig" />
		</sectionGroup>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection" />
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<!-- Elmah is configured to store its Logs in RavenDB - ElmahAdaptor is the class that acts as data source for Elmah -->
	<elmah>
		<security allowRemoteAccess="1" />
		<errorLog type="zasz.me.Integration.ElmahAdaptor, zasz.me, Version=1.0.0.0, Culture=neutral" />
	</elmah>
	<!-- Deny unauthenticated users from seeing error logs -->
  <!--	<location path="elmah.axd">-->
  <!--		<system.web>-->
  <!--			<authorization>-->
  <!--				<deny users="?" />-->
  <!--			</authorization>-->
  <!--		</system.web>-->
  <!--	</location>    -->
	<!-- Unity DI container BigBox is created and some static Interface-Impl mappings are configured for it. 
    Additional configuration (of singleton instances and InjectionFactories ) is done in UnityIntegration.cs & in HugeBox.cs -->
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<typeAliases>
			<typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
			<typeAlias alias="External" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
		</typeAliases>
		<containers>
			<container name="BigBox">
				<types>
					<type type="zasz.me.Areas.Shared.Models.IPostRepository, zasz.me" mapTo="zasz.me.Integration.EntityFramework.Posts, zasz.me" />
					<type type="zasz.me.Areas.Shared.Models.IPassphraseRepository, zasz.me" mapTo="zasz.me.Integration.EntityFramework.Vault, zasz.me" />
					<type type="zasz.me.Areas.Shared.Models.ILogsRepository, zasz.me" mapTo="zasz.me.Integration.EntityFramework.ErrorLogs, zasz.me" />
					<type type="zasz.me.Services.IFilesService, zasz.me" mapTo="zasz.me.Services.FilesystemFilesService, zasz.me" />
					<type type="zasz.me.Areas.Shared.Models.ITagRepository, zasz.me" mapTo="zasz.me.Integration.EntityFramework.Tags, zasz.me" />
				</types>
			</container>
		</containers>
	</unity>
	<!-- My App Configuration -->
	<zasz.me>
		<Uploads UploadsFolder="Uploads" DeniedExtensions="exe com msi bat php cgi pl vbs sh out" Disabled="false" ThumbsFolder="Thumbs">
			<Organization>
				<Map Folder="Flash" FileExtensions="swf flv" />
				<Map Folder="Images" FileExtensions="jpg png bmp gif jpeg" />
				<Map Folder="Docs" FileExtensions="pdf doc docx xls xlsx ppt pptx txt odt rtf log msg" />
				<Map Folder="Media" FileExtensions="mp3 mpg mpeg avi " />
			</Organization>
		</Uploads>
		<Writings MaxPostsPerPage="6" DescriptionLength="400"/>
	</zasz.me>
	<!-- MVC Framework Configuration -->
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<!-- ASP.NET configuration - Session is turned off -->
	<system.web>
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite" defaultRedirect="/Pro/Error/Broken" />
		<sessionState mode="Off" />
		<compilation debug="true" tempDirectory="C:\Bin\Temp" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Unlocker/Unlock" timeout="2880" />
		</authentication>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
		</httpModules>
		<httpHandlers>
			<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
		</modules>
		<handlers>
			<add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
		</handlers>
		<defaultDocument>
			<files>
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<remove value="default.aspx" />
				<add value="Home/Show" />
			</files>
		</defaultDocument>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="FullContext" connectionString="Server=.\SQLExpress;Database=ColdStorage;User Id=zasz.me;Password=zaszrespawned;Trusted_Connection=False;Persist Security Info=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>