@model zasz.me.Controllers.PostController.PostListModel

@{
    ViewBag.Title = "Posts";
}

@foreach (var Post in Model.Posts)
{
    <div style="margin: 20px auto;">
        @Html.Partial("~/Views/Post/_PostShortView.cshtml", Post)
    </div>
}