@using zasz.me.Areas.Shared.Controllers.Utils 
@model zasz.me.Areas.Shared.Models.Post

@{
    ViewBag.Title = "Post";
}


@*      --= Pro Area =--      *@


@section Right{
    <div class="Sidebar-Title">QR - Code</div>
    @Html.QrCode(Model.Permalink, Size: 214)
    <a class="Normal-Link">What's this?</a>
    @Html.Action("ArchiveControl")
}


@Html.Partial("~/Areas/Pro/Views/Writings/_PostFullView.cshtml", (object)Model)

<div class="Clear"></div>
@*This div will be filled by the Disqus script in _DisqusComments.cshtml*@
<div style="margin:20px;" id="disqus_thread">
<noscript>
    Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
</div>

@section Bottom{
    @Html.Partial("~/Areas/Shared/Views/Post/_DisqusComments.cshtml", (object)Model)
}


