	<a href="/Home/Show">Home</a>
    <a href="/Gallery/Look">Gallery</a>
    <a href="/Writings/List">Writings</a>
    <a href="/About/Me">About</a>
    <a href="#">Nav Item5</a>
    <a href="#">Nav Item6</a>         